

header {
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100vw;
    padding: 3rem 10rem;
    display: flex;
    /* justify-content: space-between; */
    /* mix-blend-mode: darken; */
    /* background-color: rgb(216, 202, 193); */
    background-color: #9C7055;
    align-items: center;
    z-index: 100;
}


.logo {
    width: 10em;
    margin-right: 2rem;
    float: left;
    object-fit: cover;
}

.Notification{
    /* background-color: #977358; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.Notification_number{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    background-color: rgba(215, 20, 20,0.7);
    padding: 1px;
    border-radius: 50%;
}

.bellIcon {
    cursor: pointer;
    font-size: 20px;
    color: #170b0b;
}


.main-menu {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.main-menu :global(ol){
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu :global(a) {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    /* border-radius: 20px; */
    /* padding: 1rem; */
}

.main-menu :global(li){
    border-radius: 20px;
    padding: 1rem;
    margin: 2px;
}

.Login{
    position: absolute;
    padding: 1rem;
    text-decoration: none;
    border-radius: 20px;
    left: calc(100vw - 10rem);
}
.Login :global(a){
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.Login:hover{
    text-decoration: none;
    /* opacity: 0.8; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    & .user_Drop_Down{
        display: block;   
    }
    & .Login_icon{
        background-color: rgba(187, 163, 131, 0.6);
    }
    /* background-color: rgb(24, 195, 225); */
}
.Login_icon{
    font-size: 20px;
    background-color: inherit;
    border: solid 2px rgb(6, 0, 0);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

.user_Drop_Down{
    display: none;
    /* text-align: center; */
    font-size: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    background-color:#EDE0CF;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1rem;
    & :global(li){
        padding: 14px 16px;
    }
    & :global(li):hover{
        cursor: pointer;
        background-color: #d2b998;
    }
}




.dropdown {
    /* padding: 1rem; */
    /* border-radius: 1rem; */
    /* position: relative; */
    overflow: hidden;
}

.main-menu :global(li:hover),
.main-menu .active{
    /* border-radius: 20px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
    display: flex;
}
.dropdown:hover.menu2 .dropdown-content{
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* top: 100%;
    left: 0; */
    /* left: 40%; */
    background-color: #EDE0CF;
    min-width: 16rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1rem;
}
.dropdown-content :global(a):hover{
    background-color:#d2b998;
}

.dropdown-content :global(a) {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    border-radius: 1rem;
    text-align: center;
}

.ImageSlider {
    width: 100vw;
    height: 40rem;
    position: relative;
    overflow: hidden;
}

.ListImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* flex: 1; */
    height: 100%;
    display: flex;
    width: max-content;
    /* object-fit: cover; */
    transition: 1s;

}
.ListImage .item{
    overflow: hidden;
}
.ListImage :global(img) {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    /* object-position: 50% 35%; */
    /* object-position: top; */
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons :global(button) {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 0.5rem;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots .active{
    width: 3rem;
}

.dots :global(li) {
    list-style: none;
    width: 1rem;
    height: 1rem;
    background-color: #1603034c;
    margin: 2rem;
    border-radius: 2rem;
    transition: 1s;
}



.product-container {
    display: grid;
    /* overflow-x: hidden; */
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(7, 1fr); */
    gap: 8px;
    max-width: 90vw;
    padding: 2rem;

}

.product-item.large {
    grid-column: span 2;
    /* grid-row: span 4; */
}

.product-item {
    padding: 2rem;
}

.product-item_text {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.product-item :global(img) {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

footer {
    position: relative;
    width: 100%;
    background-color: #977358;

}

.footer-container {

    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content:center;
    align-content: end;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.content {
    /* width: 30%; */
    flex: 1 1 30%;
    padding: 5px;
    margin-top: 1rem;
}

.content :global(h5) {
    padding-bottom: 1rem;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
    color: #e6d2d2;
}

.content :global(p),
.content :global(span) {
    font-size: 12px;
    margin-bottom: 5rem;
    color: #e6d2d2;
}

.content.bottom {
    border-top: solid 1px black;
    padding-top: 2rem;
    width: 100%;
}

@media (max-width: 767px) {
    html{
        font-size: 31.15%;
    }

    .ImageSlider{
        height: 25rem;
    }
    .dots{
        bottom: 2rem;
    }
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content {
        flex: 1 1 45%;
    }

    .product-item.product-item.large {
        grid-column: span 2;
    }

}

