@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  /* padding-top: 100px; */
  font-family: "Poppins", sans-serif;
  font-family: monospace;
  overflow-x:hidden;
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.close{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 5rem;
  width: 6rem;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8),
      -1px -1px 2px rgba(0, 0, 0, 0.8);
}

.close:hover{
  color:#d31f28;
}
.close:active{
  transform: scale(0.9);
}

/* Product */

.form-product-container {
  margin: 10px auto;
  width: 1300px;
  padding: 2rem;
  /* overflow-y: auto; */
  max-width: 80%;
  /* height: 700px; */
  max-height: 1000px;
}

.form-product {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 4px 50px; */
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-product input,
.form-product select {
  padding: 5px;
  margin: 5px;
  width: var(--i);
}

input[type="file"] {
  border: solid 1px rgba(0, 0, 0, 0.277);
}

input[type="submit"],
input[type="button"] {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 12px 16px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


input[type="submit"]:hover,input[type="button"]:hover {
  background-color: #ffa500;
  transform: scale(1.05);
}

input:focus::placeholder {
  color: transparent;
}


.List-product_manager {
  position: relative;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 4px 50px; */
}

.List-product_manager .change{
  position: absolute;
  right: 1px;
  top: 0;
  padding: 5px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.List-product_manager img {
  width: 70px;
  /* height: 50px; */
  object-fit: cover;
}

table,
td,
th {
  font-size: 1.5rem;
  font-weight: bold;
  width: var(--i);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  word-wrap: break-word;
  border-right: 1px solid black;
}

th {
  padding: 5px;
  background-color: #cab9b5;
}

td {
  cursor: pointer;
  background-color: #cab9b595;
}

td button {
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
}


table {
  width: 100%;
  margin-bottom: 10px;
  /* table-layout:fixed; */
  border-collapse: collapse;
}
tbody .item:hover{
  background-color: #c69b79;
}




/* Thống kê sản phẩm */

.Statistical {
  overflow-y: auto;
  padding: 1rem;
  border-radius: 5px;
  width: 1300px;
  max-width: 70%;
  margin: 10px auto;
  height: 100vh;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.2); */
}

.Statistical-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Statistical input,
.Statistical select {
  width: var(--i);
  padding: 5px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Statistical-table{
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
.Statistical th {
  background-color: #ffcc00;
}


.Statistical tr:nth-child(odd) td {
  background-color: #f0dddd;
}

.Statistical tr:nth-child(even) td {
  background-color: #fff;
}


/* Menu */


.container {
  width: 1300px;
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 2fr;
}

.menu-slidebar {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  float: right;
  /* width: 100%;
    max-width: 200px; */
  /* margin-top: 15px; */
  height: 100vh;
  margin: 2rem;
}

.menu-slidebar-content {
  margin-left: 20px;
  font-size:16px;
  font-weight: bold;
  font-style: italic;
  opacity: 0.7;
  font-family: 'Courier New', Courier, monospace;
}

.menu-slidebar-content li {
  padding-bottom: 2rem;
  cursor: pointer;
}

.menu-slidebar-content li:hover {
  color: rgba(200, 10, 10, 0.829);
}

.menu-slidebar-content a {
  text-decoration: none;
  color: black;
}

.menu-slidebar-content li.active {
  color: rgba(200, 10, 10, 0.829);
}

.List-product {
  border-left: solid 5px rgb(238, 222, 222);
  padding: 0 15px;
  width: 100%;
  /* border: solid 1px red; */
  margin: 2rem;
}

.product_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.List-product h3 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.List-product_item {
  max-width: 250px;
  margin: 15px;
  margin-left: 0;
  font-family:monospace;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
}

.List-product_item img {
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}



/* Oder */

.order-container {
  width: 1300px;
  background-color: #fdf3ea;
  padding: 2rem;
  max-width: 90%;
  position: relative;
  /* margin: 2rem; */
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 5px;
  height: 800px;
  margin: 2rem auto;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 1fr auto; */
}


.order-note{
  flex: 0.8;
  text-align: center;
}

/* Order complete */

.order-complete{
  display: flex;
  flex-direction: column;
  columns: 1;
  margin-right: 20%;
  flex: 1.5;
  width: 100%;
  overflow-y: auto;
  box-shadow: 3px 7px ;
  background-color: #ba9c9557;
  height: 600px;
  max-height: 700px;
}

.order-complete .order-product_item{
  margin: 0 auto;
  width: 80%;
}

.order-complete .product-item_image img{
  width : 10rem;
}

.order-complete .product-item_content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

/* Order delivery */
#order-delivery .note input{
  padding: 14px 0;
}
#order-delivery .order-total_content{
  margin:auto 0;
}

.order-delivery{
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.395);
  z-index: 100;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.order-delivery_content{
  width: 40%;
  display: flex;
  padding: 20px;
  font-size: 1.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  flex-direction: column;
  background: linear-gradient(45deg,#6f513b,#a48571,#5c3514);
  margin: 0 auto;
  columns: 1;
  & input{
    padding: 5px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  & label{
    padding: 8px 0;
  }
  & button{
    margin-top: 5px;
    background: linear-gradient(45deg,#684a0d,#868434);
  }
}





/* Order slected-product */
.slected-product {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 0px; */
  transition: flex 2s;
  overflow-y: auto;
  /* grid-column: span 2; */
  /* margin: 10px 0 10px 15px; */
  float: left;
  flex: 1;
  height: 600px;
  /* padding: 1rem; */
  background-color: #fff;
  border-radius: 10px;
  grid-column: span 1;
}
/* .open-menu{
  position: absolute;
  top: 0;
  left: -10px;
  background-color: #9C7055;
  width: 50px;
  height: 50px;
} */

.slected-product h3 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}


.order-product_item {
  /* border-radius: 10px; */
  display: flex;
  /* flex-wrap: wrap; */
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-left: 6px;
  border-bottom: solid 1px #cab9b5;
  font-size: 16px;
  padding: 0.5rem;
}

.product-item_image {
  float: left;
  /* flex: 1; */
  /* overflow: hidden; */
  padding-right: 2rem;
}

.product-item_type{
  width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  background-color: #9C7055;
}

.slected-product .product-item_image{
  flex: 1;
}
.slected-product .product-item_content{
  display: flex;
  /* font-size: 1rem; */
  flex: 1;
  text-align: center;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-item_image img {
  width: 5rem;
}

.slected-product .order-product_item:hover {
  background-color: rgba(232, 219, 219, 0.803);
  cursor: pointer;
}


/* Order list-product_selected */
.list-product_slected {
  display: flex;
  flex-direction: column;
  /* grid-column: span 2; */
  flex: 2;
  overflow-y: auto;
  padding: 1rem;
  margin: 0 5px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
}

.list-product_slected img {
  width: 9rem;
  max-width: 100px;
  padding-right: 2rem;
}
.list-product_slected .product-item_image{
  flex: 1;
}

.list-product_slected .order-product_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: solid 1px #cd4f2c;
}

.product-item_content {
  /* display: flex; */
  flex: 1;
  /* align-items: center; */
  /* overflow-wrap: break-word; */
  /* justify-content: center; */
  flex-wrap: wrap;
}

.product-item_content>p {
  font-size: 1.3rem;
  font-family: monospace;
  /* margin-bottom: 10px; */
  /* padding-right: 10px; */
  font-weight: bold;
}


.product-item_btn {
  columns: 1;
  text-align: center;
  /* flex: 1; */
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-item_btn button {
  font-size: 1.5rem;
  text-align: center;
  /* margin: 5px; */
  border: none;
  border-radius: 5px;
  opacity: 0.7;
  & button:hover{
    background-color:#c69b79;;
  }
}

.product-item_btn .total {
  opacity: 0.5;
  font-size: 1.5rem;
}


.order-total {
  grid-column: span 3;
  /* Trải rộng toàn bộ cột */
  /* height: 100px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f4eeeb;
  border: solid 1px rgb(9, 1, 1);
  padding: 1rem;
  align-self: end;
}

.order-total .note {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  grid-column: span 2;
  font-size: 16px;
  font-weight: bold;
  /* text-align: start; */
  padding: 5px;
  margin-bottom: 5px;
}

.note input {
  width: calc(100% - 5rem);
  height: 100%;
}

.order-total_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 5px;
}

.order-total_content button {
  width: 100%;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 2px;
  background-color: #c2000b;
}

/* menu for phone */

.phone-menu{
  display: none;
  position: absolute;
  top: 90px;
  right: -50vw;
  width: 50vw;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  background-color: #57282a;
  transition: all 0.4s ease-in;
  z-index: 10;
}

.phone-menu .slected-product{
  display: block;
  /* flex-direction: column;
  justify-content: center; */
  border-radius: 0;
  width: 100%;
}
.phone-menu .product-item_type{
  width: 100%;
  border-radius: 0;
  padding: 5px 0;
}

.open-menu{
  position: absolute;
  display: none;
  /* transform: scale(2,2); */
  top: 95px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  border: none;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2),-1px -4px 10px rgba(0, 0, 0, 0.2);
  /* text-align:left; */
  height: 50px;
  width: 15px;
  touch-action: manipulation;
  padding-right: 10px;
  animation: all 0.2;
}
.open-menu:hover{
  /* background-color: ; */
  transform: translateX(-10px);
}


/* User Profile */

.userProfile{
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  width: 1300px;
  max-width: 80%;
  margin: 10px auto;
  padding-top: 15%;
  columns: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */
  background-color: rgb(251, 245, 245);
  box-shadow: 2px -5px 10px rgba(0, 0, 0, 0.5);
  /* height: 100vh;
  max-height: 700px; */
}
.userProfile form{
  display: flex;
  width: 100%;
  /* text-align: center; */
  align-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.userProfile input,.userProfile select,
.userProfile textarea{
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 80%;
}

.userProfile label{
  padding-top: 10px;
  padding-bottom: 2px;
  font-size: 1.5rem;
  font-weight: bold;
}

.userProfile h2{
  text-align: center;
}
.userProfile button{
  margin-top: 5px;
  background-color: #ffcc00;
  font-size: 1.5rem;
  font-weight: bold;
}

.userProfile a{
  padding: 10px 0;
  text-align: center;
  /* width: 20%; */
  font-weight: 600;
  font-size: 1.5rem;
  color:black;
  transition: all 0.2s;
  text-shadow:  0 5px 8px rgba(2, 2, 1, 0.8);
}

.userProfile a:hover{
  transform: scale(1.05);
}

.userProfile button:hover{
  background-color: #ffa500;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),-4px -4px 10px rgba(0, 0, 0, 0.2);
}

/* Change password */

.Change-password{
  width: 100vw;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  max-width: 70%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh;
  max-height: 700px; */
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
}
#change-password-form{
  display: flex;
  width: 100%;
  padding: 14px 16px;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* background-image: linear-gradient(144deg, #af40ff,#00ddeb 50%, #5b42f3); */
  background-color: transparent;
}
#change-password-form input{
  padding: 8px 0;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
  width: 80%;
}
.Change-password label{
  font-weight: 600;
  padding-bottom: 5px;
  /* text-align: left; */
}
.Change-password button{
  /* font-variant: small-caps; */
  font-weight: bold;
  background-color: #ffcc00;
}

#change-password-form input[type="checkbox"]{
  /* display: flex; */
  /* align-content: center; */
  /* margin-top: 2px; */
  width: 20px;
  box-shadow: none ;
  float: left;
}
.Change-password label:last-of-type{
  font-size: 1.5rem;
  opacity: 0.7;

}



/* Payment */

.payment-container{
  padding: 10px;
  width: 1300px;
  max-width: 80%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 80px auto;
  grid-template-areas: "content information"
                        "type information";
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.5),2px 8px 0 rgba(0, 0, 0, 0.8),-2px -5px 5px rgba(0, 0, 0, 0.5);
  /* place-items: center; */
  /* border: solid 1px red; */

  & a{
    width: 20%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.996);
  }
  & a:hover{
    color: #c2000b;
    opacity: 0.6;
  }
}


.payment-container h1 {
  text-align: center;
  width: 100%;
  flex: 2;
  & #icon{
    background-color: transparent;
    color: #449a16eb;
    font-size: 4rem;
  }
}

.payment-type{
  display: flex;
  /* flex-direction: column; */
  grid-area: type;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.payment-type>p{
  padding: 14px 16px;
  font-size: 10px;
  font-weight: bold;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  text-align: center;
}

.payment-type_qr{
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  float: left;
  padding: 5px;
  border: solid 1px black;
  & p{
    font-size: 1.4rem;
    font-weight: bold;
  }
}
.payment-type_qr img{
  width: 100%;
  object-fit: cover;
}
.payment-type_handmade{
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  width: 50%;
  height: 100%;
  max-width: 400px;
  border: solid 1px black;
  overflow-x: auto;
  & img{
    width: 50px;
    object-fit: cover;
  }
  & p {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
.payment-type_handmade table{
  width: 100%;
  border: none;
  text-align: left;
  border-collapse: collapse;
  & td{
    text-align: left !important;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
  }
}

.order-information{
  grid-area: information;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  background-color: #f1eceaa4;
  border: solid 1px rgb(241, 233, 233);
  margin-left: 10px;
  & >span {
    font-size: 1.5rem;
    padding: 5px;
  }
}

.order-information .item,.order-information .total{
  display: flex;
  padding: 5px;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  border-bottom: solid 1px black;
  justify-content: space-between;

  & span:first-of-type{
    width: 40%;
  }
}

.product-container h1{
  flex: 1;
}

/* Order-tracking */
.orderTracking_container{
  width: 100vw;
  margin: 50px auto;
  max-width: 80%;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Search{
  display: flex;
  width:70%;
  margin-bottom: 20px;
  & input{
    width: 100%;
    padding: 10px 15px;
    border:  1px solid rgba(0, 0, 0, 0.2);
    /* box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.7),-1px -1px 5px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
  }
  & button{
    border-radius: 10px;
    margin-left: 10px;
  }
}
.orderTracking_content{
  display: none;
  width: 70%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  & h3{
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (max-width:767px) {
  html{
    font-size: 32.15%;
  }
  .product_item{
    grid-template-columns: repeat(2,1fr);
  }
 #slProduct{
    display: none !important;
  }
  .open-menu{
    display: block;
  }
  .phone-menu{
    display: block;
    right: -50vw;
  }
}
@media only screen and (min-width :768px) and (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-item.product-item.large {
    grid-column: span 2;
  }
}